body{
  margin-left: 20px;
  background-color:#e7b983;
  font-family: 'Verdana, sans-serif';
}

p{
  font-size: 15px;
  padding-top:10px;
  color:#05314d;
  margin-right: 20px;
  text-align: justify;
}

h1, h3{
  color:#074064;
}

h1{
  font-size: 24px;
}

h3{
  font-size: 18px;
}

li{
  font-size: 15px;
  padding-top:0px;
  color:#05314d;
}

table{
  width: 300px;
  border: 1px solid black;
}

th{
  border: 1px solid black;
  background-color:#cf944f;
}

#menu {
	float: right;
	width: 750px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #663c0a;
	/*margin-top: 19px;*/
	margin-right: 50px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 7px;
	padding-left: 0;

}

#menu li {
	font-size: .8em;
	display: inline; }

#menu li a {
	padding: 17px 15px 0 10px;
	margin: 0 45px 0 0;
	color: #808080;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #E0E0E0;}

#menu li a:hover {
	color: #000;
	border-left: 1px solid #7DD0F1; }

#contenido{
  clear: both;
  text-align: center;
  margin: auto;
  width: 80%;
  padding-top: 0;
  padding-right: 34px;
  padding-bottom: 0;
  padding-left: 5px;
}

#fuentes tr:nth-child(even) {
    font-family: arial;
    background-color: #cf944f;
}

#foto{
  border-style: solid;
  border-color: #663c0a;
  padding: 5px;
}

.footer{
  font-size: 10px;
  padding-top:0px;
  font-family: 'Courier New';
}

.subrayado{
  text-decoration: underline;
}

.separacion{
  letter-spacing: 5px;
}

.sombreado{
  text-shadow: 2px 2px;
}

.rayado{
  text-decoration: line-through;
}

.espaciado{
  line-height: 0.8;
}

.espaciado2{
  line-height: 1.2;
}
